/*
 *    Copyright (c) 2018-2025, Laputa IOT All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice,
 * this list of conditions and the following disclaimer.
 * Redistributions in binary form must reproduce the above copyright
 * notice, this list of conditions and the following disclaimer in the
 * documentation and/or other materials provided with the distribution.
 * Neither the name of the www.laputa-iot.com developer nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 * Author: SommerJiang (sommer_jiang@163.com)
 */

package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.${moduleName}.api.entity.${className};
import ${package}.${moduleName}.api.dto.${className}DTO;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {



    /**
     * 分页查询${className}
     * @param page 分页对象
     * @param ${classname} 参数列表
     * @return
     */
    IPage queryPage(Page page, ${className} ${classname});

    /**
     * 删除${className}
     * @param id
     * @return boolean
     */
    Boolean delete${className}ById(Long id);

    /**
     * 更新指定${className}
     * @param ${classname} ${className}信息
     * @return
     */
    Boolean update${className}(${className} ${classname});

    /**
     * 通过ID查询${className}
     * @param id ${classname}ID
     * @return ${className}VO
     */
    ${className} select${className}ById(Long id);



    /**
     * 保存${className}
     * @param ${classname}  对象
     * @return success/fail
     */
    Boolean save${className}(${className} ${classname});


}
