<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, Laputa IOT All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the www.laputa-iot.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: SommerJiang (sommer_jiang@163.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laputa.iot.org.mapper.StaffRoleMapper">

  <resultMap id="staffRoleMap" type="com.laputa.iot.org.api.entity.StaffRole">
                  <id property="id" column="id"/>
                        <result property="staffId" column="staff_id"/>
                        <result property="staffCode" column="staff_code"/>
                        <result property="roleId" column="role_id"/>
                        <result property="endDate" column="end_date"/>
                        <result property="validMonth" column="valid_month"/>
                        <result property="deleted" column="deleted"/>
                        <result property="version" column="version"/>
                        <result property="createUser" column="create_user"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateUser" column="update_user"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="tenantId" column="tenant_id"/>
            </resultMap>


    <select id="getAllByQuery" resultType="com.laputa.iot.org.api.entity.StaffRole" parameterType="com.laputa.iot.org.api.entity.StaffRole">
        select * from org_staff_role as pr
        left join org_staff as p
        on pr.staff_id = p.id
        where pr.role_id = #{roleId}
        <if test="keyword != null and keyword != ''">
            <if test="keyword!=null and keyword!=''">
                and (
                p.name like concat('%', #{keyword}, '%')
                or p.code like concat('%', #{keyword}, '%')
                or p.mobile like concat('%', #{keyword}, '%')
                )
            </if>
        </if>
        order by pr.update_time desc
    </select>
</mapper>
